* {
    font-family: 'Gowun Dodum', sans-serif;
    padding: 0px;
}
.wrap{
    
    width: 100%;
  
}
    

    /*                    header                  */

    

.header_title {
    width: 100%;
    height: 200px;

    /* background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://movie-phinf.pstatic.net/20210715_95/1626338192428gTnJl_JPEG/movie_image.jpg'); */
    background-color: green;
    background-position: center;
    background-size: cover;

    color: white;

    display: flex;

 
}

 .header_title > h1{
    width: 100%;
     margin-left: 150px;
     margin-top : 50px;
 }
 .login{
     height: 20%;
     width: 600px;
 }

.login  ul  li{
    list-style: none;
    background: url(../img/bar-1x12-b2b2b2.png) no-repeat left 11px;
    padding: 7px 10px 0 ;
    float: left;
    min-height: 15px;
}

.login ul li:first-child{
    background: none;
}

a{
    color:white;
    text-decoration: none;
}
a:hover{
    color:aqua
}


/*                    main                   */

section{
    
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 100%;
    max-width: 1200px;
   
}



/*                    팝업창                  */

.modal-detail{
width : 100%;
height : 100%;
position : fixed;
background : rgba(0,0,0,0.5);
z-index :5;
padding: 30px;
top:0px;
display: none;
overflow: scroll;
} 

.white-bg {
background-color: white;
display: block;
margin-left: auto;
margin-right: auto;
width: 80%;
max-width:900px;
min-width: 900px;
height: 600px;


}

.photo_detail{
float: left;
width: 40%;
height: 40%;
border: 1px solid black;

position:relative;
top:20px;
left:30px;
}

.comment_detail{
width: 45%;

height: 90%;
position: relative;
top: 20px;
left: 460px;
border: 1px solid black;

}

.location_detail{
width: 40%;
height: 45%;
border: 1px solid black;
position: relative;
left: 30px;
bottom: 250px;

}

.btn{
position: relative;
left: 400px;
bottom:200px;
padding: 20px 40px 20px 40px ;
}
