<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>

    <!-- jQuery cookie 함수-->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">

    <title>우리동네 운동장</title>

    <!-- 배너 css -->
    <link rel="stylesheet" href="../static/css/banner.css">
    <!-- 로그인체크 및 로그아웃 js -->
    <script src="../static/js/logincheck.js" defer></script>

    <!-- css -->
    <link href="../static/css/modify.css" rel="stylesheet">
    <!-- 글 포스팅 -->
    <script src="../static/js/modify.js.js" defer></script>


</head>

<body>
<header>
   <div class="site-mobile-menu site-navbar-target">
		<div class="site-mobile-menu-header">
			<div class="site-mobile-menu-close">
				<span class="icofont-close js-menu-toggle"></span>
			</div>
		</div>
		<div class="site-mobile-menu-body"></div>
	</div>

	<nav class="site-nav">
		<div class="container">
			<div class="site-navigation">
				<a href="/" class="logo m-0">우리동네 운동장</a>


				<ul id="loginfalse" class=" js-clone-nav d-none d-lg-inline-block text-start site-menu float-end">
					<li>
						<p>현재온도 : <span id="temp">--</span>도</p>
					</li>
					<li>
						<a href="/login">로그인</a>
					</li>
					<li>
						<a href="/signup">회원가입</a>
					</li>

				</ul>

                <ul class="loginture js-clone-nav d-none d-lg-inline-block text-start site-menu float-end">
					<li>
						<a href="/modify">{{ userid }}</a>
					</li>
					<li>
						<a onclick="logout()">로그아웃</a>
					</li>


				</ul>


				<a href="#" class="burger ms-auto float-end site-menu-toggle mt-2 js-menu-toggle d-inline-block d-lg-none light" data-toggle="collapse" data-target="#main-navbar">
					<span></span>
				</a>
			</div>
		</div>
	</nav>


<div class="container">
    <div class="input-form-backgroud row">
        <div class="input-form col-md-12 mx-auto">
            <h4 class="mb-3">회원정보수정</h4>
            <form class="validation-form" novalidate id="modify_form">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="name">이름</label>
                        <input type="text" class="form-control" id="name" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            이름을 입력해주세요.
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="nickname">별명</label>
                        <input type="text" class="form-control" id="nickname" placeholder="" value="" required>
                        <div class="invalid-feedback">
                            별명을 입력해주세요.
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="idenfier">아이디</label>
                    <input type="idenfier" class="form-control" id="idenfier" placeholder="" required>
                    <div class="invalid-feedback">
                        아이디를 입력해주세요.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="password">비밀번호</label>
                    <input type="password" class="form-control" id="password" placeholder="" required>
                    <div class="invalid-feedback">
                        비밀번호를 입력해주세요.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email">이메일</label>
                    <input type="email" class="form-control" id="email" placeholder="" required>
                    <div class="invalid-feedback">
                        이메일을 입력해주세요.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="address">전화번호</label>
                    <input type="text" class="form-control" id="number" placeholder="" required>
                    <div class="invalid-feedback">
                        전화번호를 입력해주세요.
                    </div>
                </div>

                <div class="mb-3">
                    <label for="address2">주소<span class="text-muted"></span></label>
                    <input type="text" class="form-control" id="address" placeholder="">
                </div>


                <hr class="mb-4">
                <div class="mb-2"></div>
                <button class="btn btn-primary btn-lg btn-block" type="submit">회원정보수정</button>
                <button class="btn btn-danger btn-lg btn-block" type="submit" onclick="user_delete()">회원탈퇴</button>
            </form>
        </div>
    </div>
</div>

<script src="../static/js/bootstrap.bundle.min.js"></script>
	<script src="../static/js/tiny-slider.js"></script>
	<script src="../static/js/aos.js"></script>
	<script src="../static/js/navbar.js"></script>
	<script src="../static/js/glightbox.min.js"></script>
	<script src="../static/js/rellax.min.js"></script>
	<script src="../static/js/custom.js"></script>

	  <!-- 배너 css -->
    <link rel="stylesheet" href="../static/css/banner.css">
        <!-- 로그인체크 및 로그아웃 js -->
     <script src="../static/js/logincheck.js" defer></script>



 <!-- jQuery cookie 함수-->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



</body>

</html>