<!DOCTYPE html>
<html lang="kor">
<head>
 	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta name="author" content="Untree.co">
	<!-- <link rel="shortcut icon" href="favicon.png"> 탭아이콘 -->

	<meta name="description" content="" />
	<meta name="keywords" content="bootstrap, bootstrap5" />

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@300;400&display=swap" rel="stylesheet">


	<link rel="stylesheet" href="../static/fonts/icomoon/style.css">
	<link rel="stylesheet" href="../static/fonts/feather/style.css">

	<link rel="stylesheet" href="../static/css/tiny-slider.css">
	<link rel="stylesheet" href="../static/css/aos.css">
	<link rel="stylesheet" href="../static/css/glightbox.min.css">
	<link rel="stylesheet" href="../static/css/writing.css">

</head>
<body>




<div class="site-mobile-menu site-navbar-target">
		<div class="site-mobile-menu-header">
			<div class="site-mobile-menu-close">
				<span class="icofont-close js-menu-toggle"></span>
			</div>
		</div>
		<div class="site-mobile-menu-body"></div>
	</div>

	<nav class="site-nav">
		<div class="container">
			<div class="site-navigation">
				<a href="/" class="logo m-0">우리동네 운동장</a>


				<ul class="loginfalse js-clone-nav d-none d-lg-inline-block text-start site-menu float-end">
					<li>
						<p>현재온도 : <span id="temp">--</span>도</p>
					</li>
					<li>
						<a href="/login">로그인</a>
					</li>
					<li>
						<a href="/signup">회원가입</a>
					</li>
				</ul>

		  		<ul class="loginture js-clone-nav d-none d-lg-inline-block text-start site-menu float-end">
					<li>
						<a href="/modify">{{ userid }}</a>
					</li>
					<li>
						<a onclick="logout()">로그아웃</a>
					</li>

				</ul>


				<a href="#" class="burger ms-auto float-end site-menu-toggle mt-2 js-menu-toggle d-inline-block d-lg-none light" data-toggle="collapse" data-target="#main-navbar">
					<span></span>
				</a>
			</div>
		</div>
	</nav>


<main>
   <div class="posting-box">

    <label class="mr-sm-2">지역 선택</label>
    <select class="custom-select mr-sm-2" id="location">
        <option value="">지역 선택</option>
        <option value="서울">서울</option>
        <option value="경기도">경기도</option>
        <option value="광주">광주</option>
        <option value="대전">대전</option>
        <option value="대구">대구</option>
        <option value="부산">부산</option>
        <option value="인천">인천</option>
        <option value="강원도">강원도</option>
        <option value="경상북도">경상북도</option>
        <option value="경상남도">경상남도</option>
        <option value="전라북도">전라북도</option>
        <option value="전라남도">전라남도</option>
        <option value="충청북도">충청북도</option>
        <option value="강원도">강원도</option>
        <option value="강원도">제주</option>
    </select>

    <label class="mr-sm-2">운동선택</label>
    <select class="custom-select mr-sm-2" id="workout">

        <option value="">운동 선택</option>
        <option value="헬스">헬스</option>
        <option value="크로스핏">크로스핏</option>
        <option value="등산">등산</option>
        <option value="수영">수영</option>
        <option value="싸이클">싸이클</option>
        <option value="클라이밍">클라이밍</option>
        <option value="기타">기타</option>
    </select>


    <div class="image-container">
        <img id="preview-image"
             src="https://dummyimage.com/500x500/ffffff/000000.png&text=preview+image">
        <div class="custom-file">

         <div class="input-group mb-3">
              <input type="file" class="form-control" id="input-image" accept="image/*">
             <label class="input-group-text" for="input-image">Upload</label>
        </div>

       </div>

    </div>


    <input type="email" class="form-control" id="address" placeholder="장소 추가 정보 링크">

    <textarea class="form-control" id="comment" rows="3" placeholder="간단한 리뷰 :)"></textarea>

    <button id="postBtn" onclick="posting()" type="button" class="btn btn-primary">저장하기</button>

</div>
</main>


<script src="../static/js/bootstrap.bundle.min.js"></script>
	<script src="../static/js/tiny-slider.js"></script>
	<script src="../static/js/aos.js"></script>
	<script src="../static/js/navbar.js"></script>
	<script src="../static/js/glightbox.min.js"></script>
	<script src="../static/js/rellax.min.js"></script>
	<script src="../static/js/custom.js"></script>

	  <!-- 배너 css -->
    <link rel="stylesheet" href="../static/css/banner.css">
    <!-- 로그인체크 및 로그아웃 js -->
    <script src="../static/js/logincheck.js" defer></script>
  <!-- writing.js연동 -->
     <script src="../static/js/writing.js" defer></script>

 <!-- jQuery cookie 함수-->
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>

 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


</body>
</html>